#	$OpenBSD: sshd_config,v 1.100 2016/08/15 12:32:04 naddy Exp $

### ===========================================================================
#Port 22
#AddressFamily any                          # 指定 sshd应当使用哪种地址族,取值范围是："any"(默认)、"inet"(仅IPv4)、"inet6"(仅IPv6)
#ListenAddress 0.0.0.0                      # 指定 sshd监听的网络地址，默认监听所有地址
#ListenAddress ::

  
### ===========================================================================
                                            # 主机私钥文件的位置。如果权限不对，sshd可能会拒绝启动
#HostKey /etc/ssh/ssh_host_rsa_key 
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key




### ===========================================================================
# Logging                           # 指定的日志等级(详细程度)
#SyslogFacility AUTH
#LogLevel INFO


#PubkeyAuthentication yes           # 是否允许公钥认证。仅可以用于SSH-2。默认值为"yes"

#PasswordAuthentication yes         # 是否允许使用基于密码的认证。默认为"yes"
#PermitEmptyPasswords no            # 

#PermitRootLogin prohibit-password  # 是否允许 root 登录, "yes"(默认) 表示允许。"no"表示禁止
#LoginGraceTime 2m                  # 限制用户必须在指定的时限内认证成功,0表示无限制,默认值是 120 秒

#StrictModes yes                    # 指定是否要求 sshd在接受连接请求前对用户主目录和相关的配置文件进行宿主和权限检查。
                                    # 强烈建议使用默认值"yes"来预防可能出现的低级错误
#MaxAuthTries 6                     # 指定每个连接最大允许的认证次数,默认值是 6
#MaxSessions 10










### ===========================================================================
# GSSAPI options
#GSSAPIAuthentication no            # 是否允许使用基于 GSSAPI 的用户认证。默认值为"no"。仅用于SSH-2。
#GSSAPICleanupCredentials yes       # 是否在用户退出登录后自动销毁用户凭证缓存。默认值是"yes"。仅用于SSH-2
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no





### ===========================================================================
#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding yes                   # 是否允许进行 X11 转发。默认值是"no"，设为"yes"表示允许。
                                    # 如果允许X11转发并且sshd(8)代理的显示区被配置为在含有通配符的地址(X11UseLocalhost)上监听。
                                    # 那么将可能有额外的信息被泄漏。由于使用X11转发的可能带来的风险，此指令默认值为"no"。
                                    # 需要注意的是，禁止X11转发并不能禁止用户转发X11通信，因为用户可以安装他们自己的转发器。
                                    # 如果启用了 UseLogin ，那么X11转发将被自动禁止。
                                    
#X11DisplayOffset 10                # 指定 sshd(8) X11 转发的第一个可用的显示区(display)数字。默认值是 10 。

#X11UseLocalhost yes                # shd(8) 是否应当将X11转发服务器绑定到本地loopback地址。默认值是"yes"。
                                    # sshd 默认将转发服务器绑定到本地loopback地址并将 DISPLAY 环境变量的主机名部分设为"localhost"。
                                    # 这可以防止远程主机连接到 proxy display 。不过某些老旧的X11客户端不能在此配置下正常工作。
                                    # 为了兼容这些老旧的X11客户端，你可以设为"no"。
#PermitTTY yes
PrintMotd no                        # 指定 sshd是否在每一次交互式登录时打印 /etc/motd 文件的内容。默认值是"yes"。
#PrintLastLog yes                   # 指定 sshd是否在每一次交互式登录时打印最后一位用户的登录时间。默认值是"yes"。
#TCPKeepAlive yes                   # 指定系统是否向客户端发送 TCP keepalive 消息。默认值是"yes"。
                                    # 这种消息可以检测到死连接、连接不当关闭、客户端崩溃等异常
#UseLogin no                        # 是否在交互式会话的登录过程中使用 login(1) 。默认值是"no"。
#UsePrivilegeSeparation sandbox     # 是否让 sshd通过创建非特权子进程处理接入请求的方法来进行权限分离。默认值是"yes"。
                                    # 认证成功后，将以该认证用户的身份创建另一个子进程
                                    # 这样做的目的是为了防止通过有缺陷的子进程提升权限，从而使系统更加安全

#PermitUserEnvironment no           # 指定是否允许sshd处理 ~/.ssh/environment 以及 ~/.ssh/authorized_keys 中的 environment= 选项。
                                    # 默认值是"no"。如果设为"yes"可能会导致用户有机会使用某些机制(比如 LD_PRELOAD)绕过访问控制，造成安全漏洞.


#PidFile /var/run/sshd.pid          #指定在哪个文件中存放SSH守护进程的进程号，默认为 /var/run/sshd.pid 文件




### ===========================================================================
# override default of no subsystems                 # 配置一个外部子系统(例如，一个文件传输守护进程)。仅用于SSH-2协议
Subsystem	sftp	/usr/lib/openssh/sftp-server    # 值是一个子系统的名字和对应的命令行(含选项和参数)。比如"sft /bin/sftp-server"。











