### ===========================================================================
crontab -e
*/1 * * * * cd /home/freeysh/Documents/ysh;/bin/bash freeysh.sh


crontab -e	==/var/spool/cron/crontabs/freeysh
cd /var/log
crontab log	==cat /etc/rsyslog.d/50-default.conf
/etc/init.d/cron start		启动cron服务
/etc/init.d/cron stop		关闭cron服务
/etc/init.d/cron restart	重启cron服务



### ===========================================================================
用户级别计划任务
ysh@debian:~/Documents$ crontab -e

每分钟执行一次
*/1 * * * * ls >> /tmp/ls.txt

每1个小时执行一次
0 */1 * * * echo “Have a break now.” >> /tmp/test.txt

	
### ===========================================================================
1. crontab : 执行一个任务一次或者多次.
2. at : 只执行一次.

3. 直接用crontab命令编辑
 
crontab -u	设定某个用户的cron服务，一般root用户在执行这个命令的时候需要此参数
crontab -l	列出某个用户cron服务的详细内容
crontab -r	删除每个用户的cron服务
crontab -e	编辑某个用户的cron服务
 

crontab -u root -l		比如说root查看自己的cron设置：
crontab -u fred -r		再例如，root想删除fred的cron设置：


### ===========================================================================
