### ===========================================================================
SAMBA配置文件结构

Global Settings
[global]                全局设置

Share Definitions
[homes]                 用户目录共享设置
[printers]              打印共享设置
[myshare]               自定义目录共享设置



### ===========================================================================
1 Global Settings
workgroup               所在工作组名称
server string           服务器描述信息
log file                日志文件位置
max log size            日志文件最在容量












